<h4 id="section3" class="mg-b-10">Pemanfaatan</h4>
<hr class="mg-y-10">
<kt-portlet [class]="'kt-portlet--height-fluid-full kt-portlet--border-bottom-brand'">
    <kt-portlet-body [class]="'kt-portlet__body--fluid'">
        <div class="kt-widgetbppemanfaatan">
            <div class="kt-widgetbppemanfaatan__header kt-margin-b-30">
                <!-- <h3 class="kt-widget14__title">{{title}}</h3> -->
                <h3 class="kt-widgetbppemanfaatan__title"><span
                        style="color: #1dc9b7;">Pemanfaatan</span></h3>
            </div>
            <div class="kt-widgetbppemanfaatan__chart">
                <canvas #barChart style="max-width: 100%; max-height: 100%;">{{ barchart }}</canvas>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>