<div class="content  content-fixed">
        <div class="container">
          <h4 id="section3" class="mg-b-10">Kalkulator Limit</h4>
          
          <div class="row row-xs">
            <div class="col-12">
                <p style="padding-top: 10px;">Minimum tenor untuk penggunaan suku bunga fixed mengikuti ketentuan berlaku </p>
                <p>-)Ketentuan suku bunga </p>
                <table style="border: solid 0.1em #807e7e;width:100%;" >
                  <tr style="background: grey;color:black;text-align:center"><th>SK Bunga</th><th>Peruntukan</th><th>Penalty Prepayment</th><th>Denda Prepayment</th></tr>
                  <tr style="color:black;"><td>7.99%</td><td>Diperuntukan untuk kredit dengan <b>min. tenor 15 thn</b></td><td>3% dari BaDe</td><td>5 X Angsuran Awal</td></tr>
                  <tr style="color:black;"><td>8.99%</td><td>Diperuntukan untuk kredit dengan <b>min. tenor 15 thn</b></td><td>3% dari BaDe</td><td></td></tr>
                  <tr style="color:black;"><td>9.15%</td><td>Diperuntukan untuk kredit dengan <b>min. tenor 10 thn</b></td><td>3% dari BaDe</td><td></td></tr>
                </table>
                <hr class="mg-y-10">
                <mat-card class="example-card">
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <mat-card-content>
                            <form class="example-form">
                                    <!-- <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Input Formdibawah ini" disabled>
                                    </mat-form-field> -->
                                    <div class="row row-xs">
                                        <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Income THP Debitur" style="text-align: end;" [(ngModel)]="kalkulator.incomeDebitur">
                                      </mat-form-field></div>
                                      <div class="col-6">
                                        <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Usia Cadeb" style="text-align: end;" [(ngModel)]="kalkulator.usiaDebitur">
                                      </mat-form-field>
                                      </div>
                                    </div>
                                    <div class="row row-xs">
                                        <div class="col-6"><mat-form-field class="example-full-width">
                                            <input matInput placeholder="Income THP Spouse (Bila ada)" style="text-align: end;" [(ngModel)]="kalkulator.incomeSpouse">
                                        </mat-form-field></div>
                                        <div class="col-6"><mat-form-field class="example-full-width">
                                            <input matInput placeholder="Usia Pension" style="text-align: end;"  [(ngModel)]="kalkulator.usiaPension">
                                        </mat-form-field></div>
                                    </div>
                                    <div class="row row-xs">
                                        <div class="col-6"><mat-form-field class="example-full-width">
                                            <input matInput placeholder="Total Kewajiban Pihak ke-3 Debitur" style="text-align: end;" [(ngModel)]="kalkulator.totalWajibdebitur">
                                        </mat-form-field></div>
                                        <div class="col-6"><mat-form-field class="example-full-width">
                                                <mat-select placeholder="Tenor Pengajuan">
                                                        <mat-option *ngFor="let food of tenors" [value]="food.value">
                                                          {{ food.viewValue }}
                                                        </mat-option>
                                                      </mat-select>
                                        </mat-form-field></div>
                                      </div>
                                      <div class="row row-xs">
                                          <div class="col-6"><mat-form-field class="example-full-width">
                                                <input matInput placeholder="Total Kewajiban Pihak ke-3 Spouse (Apabila Ada)" style="text-align: end;" [(ngModel)]="kalkulator.totalWajibspouse">
                                            </mat-form-field></div>
                                            <div class="col-6"><mat-form-field class="example-full-width">
                                                    <mat-select placeholder="Jenis Agunan" [(ngModel)]="kalkulator.jenisagunan"> 
                                                            <mat-option *ngFor="let rumah of rumahs" [value]="rumah.value">
                                                              {{ rumah.viewValue }}
                                                            </mat-option>
                                                          </mat-select>
                                            </mat-form-field></div>
                                          </div>
                                          <div class="row row-xs">
                                              <div class="col-6"><mat-form-field class="example-full-width">
                                                    <input matInput placeholder="DBR" style="text-align: end;" [(ngModel)]="kalkulator.dbr">
                                                </mat-form-field></div>
                                                <div class="col-6"><mat-form-field class="example-full-width">
                                                    <!-- <input matInput placeholder="Jatuh Tempo Sertfikat (yyyy/MM/dd)" style="text-align: end;" value="2019-11-30"> -->
                                                    <input matInput [matDatepicker]="picker" placeholder="Jatuh Tempo Certificate" [(ngModel)]="kalkulator.dueDateCertificate">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle><mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field></div>
                                          </div>
                                    <!-- <mat-form-field class="example-full-width"> -->
                                        <input matInput value="Output Perhitungan" disabled style="font-weight: bold;">
                                    <!-- </mat-form-field> -->
                                    <hr class="mg-y-5">
                                    <div class="row row-xs">
                                      <div class="col-6">
                                          <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Total Kemampuan Mengangsur" style="text-align: end;" [(ngModel)]="kalkulator.kemampuanAngsur">
                                          </mat-form-field>
                                      </div>
                                      <div class="col-6">
                                          <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Angsuran th-1" style="text-align: end;" [(ngModel)]="kalkulator.angsuranth1" >
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row row-xs">
                                        <div class="col-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Suku Bunga Fixed" style="text-align: end;" [(ngModel)]="kalkulator.dbbFix"> 
                                            </mat-form-field>
                                        </div>
                                        <div class="col-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Angsuran th-2" style="text-align: end;" [(ngModel)]="kalkulator.angsuranth2" >
                                              </mat-form-field>
                                          </div>
                                      </div>
                                      <div class="row row-xs">
                                          <div class="col-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Suku Bunga Floating" style="text-align: end;"  [(ngModel)]="kalkulator.sukuBunga">
                                              </mat-form-field>
                                          </div>
                                          <div class="col-6">
                                              <mat-form-field class="example-full-width">
                                                  <input matInput placeholder="Angsuran th-3" style="text-align: end;" [(ngModel)]="kalkulator.angsuranth3">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row row-xs">
                                            <div class="col-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Tenor Penyesuaian" style="text-align: end;" [(ngModel)]="kalkulator.tenorpenyesuaian">
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Angsuran th-4" style="text-align: end;" [(ngModel)]="kalkulator.angsuranth4">
                                                  </mat-form-field>
                                              </div>
                                          </div>
                                          <div class="row row-xs">
                                              <div class="col-6">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Maximal Limit Cair" style="text-align: end;color:green" [(ngModel)]="kalkulator.maxlimitCair">
                                                  </mat-form-field>
                                              </div>
                                              <div class="col-6">
                                                  <mat-form-field class="example-full-width">
                                                      <input matInput placeholder="Angsuran th-5" style="text-align: end;" [(ngModel)]="kalkulator.angsuranth5">
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="row row-xs">
                                                <div class="col-6">
                                                    &nbsp;
                                                </div>
                                                <div class="col-6">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput placeholder="Angsuran th-6" style="text-align: end;">
                                                      </mat-form-field>
                                                  </div>
                                              </div>
                              </form>
                              
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>CALCULATE</button>
                    </mat-card-actions>
                  </mat-card>
                  
            </div><!-- col -->
          </div>
        </div><!-- container -->
      
      </div>