<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <img src="../../../../assets/phincon/home-konvensional.jpeg" alt="Home Konvensional"
                     style="max-width: 100%; height: auto;display: block;margin: 0 auto;" >
            </div>
            <div class="col-lg-6 col-sm-12">
                <img src="../../../../assets/phincon/home-syariah.jpeg" alt="Home Syariah"
                     style="max-width: 100%; height: auto;display: block;margin: 0 auto;">
            </div>
        </div>
    </div>
</div>