<h4 id="section3" class="mg-b-10">Pemupukan</h4>
<hr class="mg-y-10">
<div class="card mb-3">
    <div class="card-body">
        <img src="../../../../assets/phincon/pemupukan-konvensional.jpeg" alt="Pemupukan Konvensional"
             style="max-width: 100%; height: auto;display: block;margin: 0 auto;">
    </div>
</div>
<div class="card">
    <div class="card-body">
        <img src="../../../../assets/phincon/pemupukan-syariah.jpeg" alt="Pemupukan Syariah"
             style="max-width: 100%; height: auto;display: block;margin: 0 auto;">
    </div>
</div>