<div class="content  content-fixed">
  <div class="container">
    <h4 id="section3" class="mg-b-10">Profile Peserta</h4>
    <hr class="mg-y-10">
    <div class="row row-xs">
      <div class="col-12">
          <mat-card class="example-card">
              <mat-card-header>
                <img mat-card-avatar src="./assets/media/users/default.jpg" alt="Photo of a Shiba Inu" class="example-header-image">
                <mat-card-title style="font-family: Poppins;">Justin Bieber</mat-card-title>
              </mat-card-header>
              <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
              <mat-card-content>
                  <div class="row row-xs" style="padding-top: 15px;">
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Tempat, Tanggal lahir</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: Jakarta, 8 Agustus 1989</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Umur</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: 30 Tahun</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Unit Kerja</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: Departement</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Jabatan</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: Staff Ahli</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Instansi Tempat Bekerja</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: PT. Bank mandiri</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Lama Bekerja</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: 3 Tahun</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Gaji saat ini</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: Rp. 8,000,000</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Nomor Kepesertaan</p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: 005544667788</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Iuran </p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: -</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Kepemilikan Rumah (1/2/3) </p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: 1</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Alamat Tempat Tinggal saat ini </p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: Orang Tua</div>
                      <div class="col-4" style="font-family: Poppins;font-weight:600"><p>Tanggal Kepesertaan Awal </p></div>
                      <div class="col-8" style="font-family: Poppins;font-weight:400">: 01 February 2014</div>
                  </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
      </div><!-- col -->
    </div>
  </div><!-- container -->

</div>